mixin writeBookCard(book, buttons)
  .card.my-5.text-center
    - const url = book.coverImage[0].image
    - const altText = book.coverImage[0].altText
    img.card-img-top(src=url, alt=altText, style='width:20em;height:20em;margin:auto')
    .card-block
      h4.card-title #{book.title}
      p.card-text #{book.catchphrase}
    ul.list-group.list-group-flush
      li.list-group-item
        p Author: 
        p #{book.author}
      li.list-group-item
        p ISBN: 
        p #{book.ISBN}
      li.list-group-item
        p Rating: 
        p #{book.rating}/5
      //- only print detailedDescription column in page wants it
      if book.detailedDescription
        li.list-group-item
          p Detailed Description
          p #{book.detailedDescription}
    .card-block
      each button in buttons
        - const url = button.url
        - const clickval = button.clickval;
        if button.clickval
          if button.type == "danger"
            btn.m-2.btn-danger(onclick=clickval) #{button.tag}
          else if button.type == "info"
            btn.m-2.btn-info(onclick=clickval) #{button.tag}
          else
            btn.m-2.btn-primary(onclick=clickval) #{button.tag}
        else
          if button.type == "danger"
            a.btn.m-2.btn-danger(href=url) #{button.tag}
          else if button.type == "info"
            a.btn.m-2.btn-info(href=url) #{button.tag}
          else
            a.btn.m-2.btn-primary(href=url) #{button.tag}

mixin writeBookCardBlank()
  - const buttons = [{url: '#', tag: 'More Details', type: 'info'}, {url: '#', tag: 'Add To My Reading List'}]
  .card.my-5.text-center
    img.card-img-top(src='null', alt='Image preview not supported', style='width:20em;height:20em;margin:auto')
    .card-block
      h4.card-title#title
      p.card-text#catchPhrase
    ul.list-group.list-group-flush
      li.list-group-item
        p Author: 
        p#author
      li.list-group-item
        p ISBN: 
        p#ISBN
      li.list-group-item
        p Rating:
        p 5/5
      li.list-group-item
        p Detailed Description
        p#detailedDescription
    .card-block
      each button in buttons
        - const url = button.url
        if button.type == 'info'
          a.btn.m-2.btn-info(href=url, disabled) #{button.tag}
        else
          a.btn.m-2.btn-primary(href=url, disabled) #{button.tag}