extends ../layout
include ../includes/bookCard
include ../includes/helpers

block content
  h1.text-center.py-3= title
  .row
    .book-details.col-12.col-xl-8
      .container.book-list
        if warning
          .alert.alert-warning= warning
        each book in books
          - const buttons = [{url: `/book/${book._id}`, tag: 'More Details', type: 'info'}, {tag: 'Remove From My Reading List', type: 'danger', clickval: `removeFromReadingList('${book._id}')`}]
          +writeBookCard(book, buttons)
    .side-bar-text.col-12.col-xl-4.pt-5
      p= sideContent
      //- Button trigger modal
      #clearbtn.btn.m-2.btn-danger(type='button', onclick="$('#confirmDeleteAllModal').modal('show')") Clear Reading List
  +removeFromReadingList
  +clearReadingList
  
  //- Modals
  +addConfirmationModal("confirmDeleteAllModal", "Clear Reading List", "Are you SURE you want to delete your entire library? This action cannot be undone", "clearReadingList()")
