extends ../layout
include ../includes/bookCard
include ../includes/helpers

block content
  h1.text-center.py-3= pageHeader.title
  .row
    .book-details.col-12.col-xl-8
      h2= pageHeader.tagline
      .container.book-list
        if errorMsg
          .alert.alert-danger= errorMsg
        each book in books
          - const buttons = [{url: `/book/${book._id}`, tag: 'More Details', type: 'info'}, {tag: 'Add To My Reading List', clickval: `addToReadingList('${book._id}')`}]
          +writeBookCard(book, buttons)
    .side-bar-text.col-12.col-xl-4.pt-5
      p= sideContent
  
  +addToReadingList
